@font-face {
  font-family: 'rubrik-light';
  src: url(./public/fonts/Rubik-Light.ttf);
}

@font-face {
  font-family: 'rubrik-regular';
  src: url(./public/fonts/Rubik-Regular.ttf);
}

body {
  padding: 120px 30px;
  font-family: 'rubrik-regular';
}

a {
  color: #00B7FF;
}

label {
  margin-right: 5px;
  color: #505050;
}

button, button:active, button:focus {
  outline: 0 !important;
}

input::-moz-focus-inner, button::-moz-focus-inner { 
  border: 0; 
}

.hidden {
  display: none;
}

.small-text {
  font-size: .8rem;
}

.large-text {
  font-size: 3rem;
}

#menu {
  background-image: -webkit-gradient(linear, left top, right top, from(#7cc24d), to(#39c1cd));
  background-image: -webkit-linear-gradient(left, #7cc24d, #39c1cd);
  background-image: -o-linear-gradient(left, #7cc24d, #39c1cd);
  background-image: linear-gradient(to right, #7cc24d, #39c1cd);
  height: 66px; 
  left: 0;
  padding: 0 1rem 0 0;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 1;
  display: flex;
  overflow-x: hidden;
}

#menu #logo {
  margin: .1rem 0 0;
}

#menu #logo img {
  padding: 0 1.5rem;
}

#menu div.tabs {
  display: flex;
}

#menu button.menuTab {
  background-color: transparent;
  border-bottom: 0;
  border-top: 0;
  border-left: 1px solid white;
  border-right: 1px solid white;
  color: white;
  cursor: pointer;
  font-family: 'Rubik', sans-serif;
  font-size: 1.3rem;
  padding: 1.3rem 1rem;
  text-transform: uppercase;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  vertical-align: top;
}

#menu button.menuTab:hover {
  background-color: rgba(255,255,255, 0.3);
}

#menu button.menuTab.selected-tab {
  background-color: #c22a90;
}

#menu a.acknowledgement:hover {
  color: #c22a90;
}

#menu a.acknowledgement {
  color: white;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  top: 1.5rem;
  margin-right: 10px;
  transition: all .1s;
}

#menu div.tabs {
  border-right: 1.1px solid white;
}

.section {
  margin-bottom: 1.5rem;
}

.section.header {
  margin-bottom: 1rem;
}

.card {
  border: 2px solid #c22a90;
  border-radius: .50rem;
  -webkit-box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 5px 0 rgba(0, 0, 0, 0.19);
  display: inline-block;
  margin: 0 2rem 2rem;
  padding: 15px;
}

.card .top-section {
  position: relative;
  max-width: 840px;
  margin-right: 2rem;
  min-height: 95px;
}

.card .top-section > div {
  display: inline-block;
  vertical-align: top;
}

.card .top-section .top-section-right {
  position: absolute;
  right: 0;
  text-align: center;
  top: 0;
}

.card .top-section form {
  margin-bottom: 1rem;
}

.section-header {
  color: #008445;
  font-weight: 500;
  margin: 0 0 10px 0;
}

.card .divider {
  background-color: black;
  height: 1px;
  margin: 0 auto 2rem;
  max-width: 200px;
}

.configForm {
  position: relative;
}

p.error {
  color: red;
}

form.configForm > p {
  margin: 3px 0;
}

form.configForm .form-value {
  color: #c22a90;
}

form.configForm .form-units {
  margin-left: 5px;
  color: #505050;
}

form.configForm input {
  font-size: 1.3rem;
  margin: 3px 0 0 5px;
  width: 650px;
}

form.configForm input:disabled {
  background-color: rgb(235, 235, 228) !important;
}

form.configForm input[type='checkbox'] {
  width: auto;
}

form.configForm.expanded {
  padding-bottom: 1.5rem;
}

form.configForm input.btn, .btn {
  background: transparent;
  border: 2px solid #383838;
  border-radius: .50rem;
  color: #383838;
  cursor: pointer;
  display: inline-block;
  font-size: 1.3rem;
  outline: 0;
  padding: .15rem 1.2rem;
  text-transform: uppercase;
  -webkit-transition: all .1s;
  -o-transition: all .1s;
  transition: all .1s;
  width: auto;
}

form.configForm input.btn:hover, .btn:hover {
  background: #c22a90;
  border: 2px solid #c22a90;
  color: white;
}

#cryptosWrapper #ethNodeAuth {
  max-width: 800px;
}

#cryptosWrapper .btn {
  display: block;
  margin-left: 0;
  margin-top: 15px;
}

#cryptosWrapper form.configForm > p {
  margin: 5px 0 0;
}

#cryptosWrapper form.configForm > .section-header {
  margin-top: 15px;
}

#loginCard #login label {
  display: inline-block;
  width: 76px;
}

#login .form-submit-container {
  margin-top: 1rem;
  text-align: right;
}

#adminCard #admin label {
  display: inline-block;
  width: 115px;
}

#adminCard #admin input, #loginCard #login input, input:-webkit-autofill, input[type="text"] {
  background: white;
  background-color: rgb(255, 255, 255) !important;
  border: 1px solid gray;
}

#admin > div {
  margin-bottom: 1rem;
}

.ordersTable {
  display: table;
  overflow-y: visible;
  overflow-x: scroll;
}

.ordersTable .btn {
  background: #c22a90;
  border: 2px solid #c22a90;
  color: white;
  margin-bottom: 2rem;
  margin-right: 1rem;
}

.ordersTable .btn:hover, .logout-btn:hover {
  background: transparent;
  border: 2px solid #c22a90;
  color: #c22a90;
}

.ordersTable table {
  border-collapse: collapse;
  overflow-x: scroll;
  overflow-y: visible;
}

.ordersTable table, th, td {
  border: 1px solid black;
  padding: 5px;
}

#cryptosWrapper .card .gasPrice > p, #cryptosWrapper .card .feeRate > p {
  display: inline-block;
  margin: 0;
}

#cryptosWrapper form.configForm input[type="text"], #cryptosWrapper form.configForm input[type="password"] {
  max-width: 650px;
  width: calc(80% - 2.4rem - 95px);
}

#cryptosWrapper form.configForm input[type="password"] {
  left: 8.5px;
  position: relative;
}

.card .gasPrice .form-value, .card .feeRate .form-value {
  font-size: 1.2rem;
}

#cryptosWrapper .card .top-section-right p {
  margin: 0 0 .3rem;
}

#cryptosWrapper .card .top-section-right h1 {
  background-color: #F0F0F0;
  border: 3px solid gray;
  border-color: #E0E0E0;
  border-style: inset;
  color: #39c1cd;
  display: inline-block;
  margin: 0;
  padding: .5rem;
  text-align: center;
}

#cryptosWrapper .card .top-section-right h1 span {
  font-size: 1.1rem;
  font-weight: 500;
}

#cryptosWrapper .card img {
  width: 18%;
}

#commerceWrapper .card img {
  width: 18%;
}

#configWrapper .card img {
  width: 15%;
}

#commerceWrapper form.configForm input[type="text"] {
  max-width: 650px;
  width: calc(100% - 2.4rem - 95px);
}

div.api-card > div.section > button.btn {
  margin-right: 10px;
  margin-bottom: 5px;
}

div.api-new-client-card > div.section > button.btn {
  margin-right: 10px;
}

div.api-new-client-card > div.section > div {
  margin-bottom: 10px;
}

div.api-new-client-card input {
  background: transparent;
  border: 2px solid #383838;
  border-radius: .50rem;
  color: #383838;
  display: inline-block;
  font-size: 1rem;
  outline: 0;
  padding: .15rem 1.2rem;
  width: 500px;
}

div.api-new-client-card > div.section > div > label {
  display: inline-block;
  width: 110px;
}

.order-list-container {
  text-align: center;
}

.page-number-container {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}

button.clickable {
    background: none !important;
    color: #00B7FF;
    border: none;
    padding: 0 !important;
    font: inherit;
    /*border is optional*/
    cursor: pointer;
}

.order-list-order {
  cursor: pointer;
}

.order-list-order:hover {
  background-color: #CCCCCC;
}

.order-list-cancel:hover, .order-list-address:hover {
  cursor: default;
}

.logout-btn {
  float: right;
  background: #c22a90;
  border: 2px solid #c22a90;
  color: white;
  margin-top: 1rem;
  margin-right: 1rem;
}

.menu-right-container {
  position: absolute;
  right: 0;
}

div.crypto-list {
  display: flex;
  flex-direction: column;
}

div.commerce-list {
  display: flex;
  flex-direction: column;
}

#configWrapper > div {
  display: flex;
  flex-direction: column;
}

.invalid-row {
  background-color: #777;
}

.card label > select {
  margin-left: 7px;
}

.card select {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  outline: none;
}
