
.checkout-success {
    margin-top: 2rem;
}

#numifex {
    background-color: #f8f8f8;
    padding: 15px;
}

#numifex > div:nth-child(1) {
    color: red;
    font-size: 20px;
    font-weight: bold;
}

#numifex #instructions h3 {
    color: green;
    font-size: 32px;
    text-decoration: underline;
}

#numifex #instructions table {
    margin-bottom: 2rem;
    width: 80%;
}

#numifex #instructions table tr th {
    border-bottom: 1px solid black !important;
    color: #666;
    font-size: 17px;
    padding: 5px;
}

#numifex #instructions table tr > th:nth-child(2) {
    width: 180px;
}

#numifex #instructions tr > th:nth-child(3), #numifex #instructions tr > th:nth-child(4) {
    width: 160px;
}

#numifex #instructions table tbody tr:nth-child(2) td {
    border-bottom: 2px solid black !important;
    color: #666;
    font-size: 16px;
    font-weight: 700;
    padding: 5px;
}

#numifex #instructions table tbody tr:nth-child(3) td {
    color: #666;
    font-size: 22px;
    font-weight: bold;
    padding: 5px;
}

#numifex #instructions > div:nth-child(3) {
    color: #666;
    font-size: 16px;
    font-weight: 600;
    margin: 0;
}

#numifex #instructions > div:nth-child(3) p {
    margin-bottom: 0;
}

#numifex #instructions > div:nth-child(3) span {
    color: green;
    font-size: 20px;
}