@import "./shared.css";

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: var(--fontRubik);
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.numifex-tag {
  position: absolute;
  width: 40%;
  height: 5%;
  min-height: 64px;
  bottom: 0;
  right: 0;
  color: white;
  padding: 12px;
  box-sizing: border-box;
  display: flex;
  justify-content: flex-end;
}

.numifex-tag > h1 {
  width: 40%;
  text-transform: uppercase;
  font-size: 0.9em;
  font-weight: 100;
  margin: auto 8px auto 0;
  text-align: right;
}

.power-img {
  height: 100%;
}

@media (max-width: 1080px) {
  .numifex-tag {
    min-height: 48px;
  }

  .numifex-tag > h1 {
    font-size: 0.75em;
  }
}

@media (max-width: 840px) {
  .numifex-tag {
    width: 80%;
    padding: 16px 8px 4px 8px;
  }
}

@media (max-width: 400px) {
  .numifex-tag {
    width: 90%;
  }
}

@media (max-height: 400px) {
  .numifex-tag {
    width: 40%;
    min-height: 40px;
  }
  .numifex-tag > h1 {
    font-size: 0.6em;
  }
}
