:root {
  --numBlue: #00b7ff;
  --numBlue75: #00b7ffbf;
  --numBlue50: #00b7ff80;
  --numBlue25: #00b7ff40;
  --numMainGreen: #7cc24d;
  --numMainGreen75: #7cc24dbf;
  --numMainGreen50: #7cc24d80;
  --numMainGreen25: #7cc24d40;
  --numMainGreen10: #7cc24d1a;
  --numTeal: #39c1cd;
  --numTeal75: #39c1cdbf;
  --numTeal50: #39c1cd80;
  --numTeal25: #39c1cd40;
  --numDarkGreen: #008445;
  --numDarkGreen75: #008445bf;
  --numDarkGreen50: #00844580;
  --numDarkGreen25: #00844540;
  --numPurple: #c22a90;
  --numPurple75: #c22a90bf;
  --numPurple50: #c22a9080;
  --numPurple25: #c22a9040;
  --fontRubik: "Rubik", sans-serif;
}

.main-outer {
  /* background: url("numifex-media/hero_BG.jpg"); */
  height: 100%;
  width: 100%;
  padding: 80px;
  background-position: center;
  background-size: cover;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main-container {
  height: 100%;
  width: 100%;
  background-color: white;
  display: flex;
  box-sizing: border-box;
  flex-direction: column;
}

input {
  border: 1px solid var(--numMainGreen50);
  color: var(--numDarkGreen);
  font-size: 1em;
  font-family: var(--fontRubik);
  text-transform: uppercase;
}

input::placeholder {
  color: rgb(180, 180, 180);
}

input:focus {
  outline-color: var(--numDarkGreen);
  border-color: var(--numDarkGreen);
}

button {
  background: var(--numTeal75);
  border: 2px solid var(--numTeal);
  text-transform: uppercase;
  font-weight: bolder;
  color: var(--numPurple75);
  font-family: var(--fontRubik);
  letter-spacing: 1px;
}

button:hover {
  background: var(--numTeal);
  border: 2px solid var(--numPurple);
  color: white;
}

button:focus {
  outline: none;
}

@media (max-width: 1080px) {
  .main-outer {
    padding: 48px;
  }
}

@media (max-width: 840px) {
  .main-outer {
    padding: 32px;
  }
}
