#conf-section {
  padding: 40px;
  box-sizing: border-box;
  text-transform: uppercase;
  background-color: rgba(255, 255, 255, 0.75);
  align-items: center;
  justify-content: space-between;
}

.coin-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.conf-title {
  color: rgb(70, 70, 70);
  margin: 0 0 16px 0;
}

.coin-display {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  box-sizing: border-box;
  padding-bottom: 24px;
}

.coin-tile {
  text-decoration: none;
  width: 40%;
  height: 20%;
  min-height: 64px;
  max-height: 120px;
  margin: 20px;
  box-sizing: border-box;
  border: 2px solid var(--numMainGreen50);
  padding: 20px;
  display: flex;
  background-color: white;
  flex-direction: column;
  justify-content: center;
}

.conf-button {
  width: 30%;
  font-size: 1.5em;
  padding: 24px 48px;
}

.order-section {
  width: 100%;
}

.order-inner {
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  background-color: white;
  border: 2px solid var(--numMainGreen50);
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.order-inner h3 > span {
  color: var(--numPurple75);
  font-size: 1.75em;
}

.order-inner h3 {
  color: grey;
  margin: 8px 0;
}

.order-inner h2 {
  color: rgb(75, 75, 75);
  margin: 24px 0;
}

.order-inner p,
.final-inner p {
  width: 75%;
  color: grey;
  font-size: 0.8em;
}

.order-inner img {
  width: 80%;
  max-width: 800px;
}

#total-price, #final-price {
  color: var(--numMainGreen);
  font-size: 4em;
  margin: 4px 0 16px 0;
}

.orderbtn-list {
  width: 100%;
  display: flex;
  justify-content: center;
  margin: 24px 0;
}

.orderbtn-list a {
  width: 30%;
}

#submit-btn {
  width: 30%;
  margin-right: 48px;
  background-color: var(--numDarkGreen25);
  color: var(--numDarkGreen);
  border-color: var(--numDarkGreen75);
}

#submit-btn:hover {
  background-color: var(--numDarkGreen75);
  color: white;
  border-color: var(--numDarkGreen);
}

#cancel-btn:hover {
  width: 100%;
  background-color: rgb(155, 0, 0, 0.75);
  color: white;
  border-color: rgb(155, 0, 0);
}

#cancel-btn {
  width: 100%;
  background-color: rgb(155, 0, 0, 0.5);
  color: rgb(155, 0, 0);
  border-color: rgb(155, 0, 0, 0.75);
}

.grow {
  transition: all 0.1s ease-in-out;
}

.grow:hover {
  transform: scale(1.05);
}

.coin-img {
  width: 100%;
}

.final-section {
  width: 100%;
}

.final-inner {
  width: 100%;
  background-color: white;
  border: 2px solid var(--numMainGreen50);
  padding: 20px;
  box-sizing: border-box;
}

.final-inner h2 {
  color: rgb(75, 75, 75);
  margin: 24px 0;
}

.final-address {
  text-transform: initial;
  color: var(--numPurple75);
  font-size: 2.5em;
}
#final-price span{
  font-size: .6em;
  color: grey;
  margin: auto 0;
}

.address-outer {
  height: 325px;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 16px 0 32px 0;
}


#address-btn {
  width: initial;
  background-color: rgb(200, 200, 200);
  border-color: var(--numPurple50);
  color: var(--numPurple);
}

#address-btn:hover {
  background-color: var(--numPurple75);
  border-color: var(--numPurple);
  color: white;
}

#finish-btn {
  width: 100%;
}

#f-order-link {
  width: 30%;
  margin-right: 48px;
}

#f-order-btn {
  width: 100%;
}

.qr-img {
  height: 100%;
}

.shown {
  display: block;
}

.hidden {
  display: none;
}

@media (max-width: 1080px) {
  #conf-section {
    padding: 20px;
  }

  .conf-button {
    width: 40%;
    padding: 16px 32px;
  }

  .conf-title {
    margin-bottom: 12px;
    font-size: 1.5em;
  }

  .order-inner img {
    width: 60%;
  }

  .order-inner h3 > span {
    font-size: 1.5em;
  }

  .order-inner p,
  .final-inner p {
    width: 80%;
    font-size: 0.7em;
  }

  #total-price, #final-price {
    font-size: 2.75em;
  }

  .orderbtn-list a {
    width: 30%;
  }

  .orderbtn-list {
    margin: 20px 0;
  }

  #submit-btn {
    width: 30%;
  }

.final-inner h2 {
  font-size: 1.2em;
  margin: 12px 0;
}

.address-outer {
  height: 260px;
  margin-bottom: 20px;
}

.final-address {
  font-size: 2em;
}
}

@media (max-width: 840px) {
  .coin-tile {
    margin: 12px;
    padding: 12px;
  }

  .conf-title {
    font-size: 1.25em;
  }

  .conf-button {
    padding: 8px 16px;
    font-size: 1.2em;
  }

  .order-inner h3 > span {
    font-size: 1.25em;
  }

  .order-inner h3 {
    font-size: 1em;
  }

  .order-inner p,
  .final-inner p {
    width: 85%;
    font-size: 0.6em;
  }

  #total-price, #final-price {
    font-size: 2.5em;
  }

.final-inner h2 {
  font-size: .9em;
  margin: 8px 0;
}

.address-outer {
  height: 240px;
  margin: 12px 0 20px 0;
}

.final-address {
  font-size: 1.15em;
}
}

@media (max-width: 560px) {
  #conf-section {
    padding: 20px;
  }

  .conf-title {
    margin-bottom: 8px;
    font-size: 1em;
  }
  .coin-display {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  .coin-tile {
    width: 90%;
    height: initial;
    padding: 8px;
    margin: 8px 0;
  }

  .conf-button {
    width: 60%;
    font-size: 0.9em;
  }

  .order-inner h3 {
    font-size: 0.7em;
  }

  .order-inner h3 > span {
    font-size: 1em;
  }

  .order-inner p,
  .final-inner p {
    width: 90%;
    font-size: 0.5em;
  }

  #total-price, #final-price {
    font-size: 1.5em;
  }

  .orderbtn-list a, #f-order-link {
    width: 45%;
  }

  #submit-btn {
    width: 45%;
    margin-right: 16px;
  }

.final-inner h2 {
  font-size: .7em;
  margin: 4px 0;
}

.address-outer {
  height: 160px;
}

.final-address {
  font-size: .8em;
}
}

@media (max-width: 420px) {
  #conf-section {
    padding: 20px;
  }
  .conf-title {
    font-size: 0.8em;
  }

  .conf-button {
    width: 80%;
    font-size: 0.7em;
  }

  .order-inner h3 {
    font-size: 0.6em;
  }

  .order-inner h3 > span {
    font-size: 1.1em;
  }

  .order-inner p,
  .final-inner p {
    width: 100%;
  }

  #total-price, #final-price {
    font-size: 1.1em;
  }

  #submit-btn,
  #cancel-btn,
  .conf-button {
    font-size: 0.6em;
    padding: 4px 8px;
  }

.final-address {
  font-size: .6em;
}
}

@media (max-width: 360px) {
  .order-inner p,
  .final-inner p {
    display: none;
  }

.final-address {
  font-size: .5em;
}
}

@media (max-height: 420px) {
  #conf-section {
    padding: 12px;
  }
  .conf-title {
    font-size: 0.9em;
    margin-bottom: 4px;
  }

  .conf-button {
    width: 60%;
    font-size: 0.8em;
  }

  .order-inner img {
    width: 40%;
  }

  .order-inner, .final-inner {
    padding: 8px;
  }

  .order-price-section {
    width: 100%;
    display: flex;
    justify-content: space-around;
  }

  .sub-price {
    width: 40%;
    text-align: left;
  }

  #total-price, #final-price {
    font-size: 1.25em;
    margin-bottom: 8px;
  }

  #total-price {
    width: 40%;
    text-align: right;
  }

  .order-inner h3 > span {
    font-size: 1.1em;
  }

  .order-inner h3 {
    font-size: 0.7em;
    margin: 4px 0;
  }

  .orderbtn-list {
    margin: 12px 0;
  }

  .order-inner p,
  .final-inner p {
    width: 100%;
    font-size: 0.5em;
    margin: 4px 0;
  }

  #submit-btn,
  #cancel-btn,
  .conf-button {
    font-size: 0.6em;
    padding: 4px 8px;
  }

.address-outer {
  height: 120px;
  margin: 8px 0 12px 0;
}
}

@media (max-height: 360px) {
  #total-price, #final-price {
    font-size: 1em;
  }

  .order-inner h3 > span {
    font-size: 1.1em;
  }

  .order-inner h3 {
    font-size: 0.6em;
  }

.address-outer {
  height: 100px;
}
}

@media (max-height: 330px) {
  .order-inner p,
  .final-inner p {
    display: none;
  }

.final-inner h2 {
  font-size: .7em;
  margin: 8px 0;
}

.address-outer {
  height: 80px;
  margin: 4px 0 8px 0;
}

.orderbtn-list {
  margin: 4px 0;
}
}
