.mainpage-outer {
  font-family: var(--fontRubik);
  text-transform: uppercase;
  display: flex;
  width: 100%;
  height: 100%;
}

.numpad-outer {
  width: 60%;
  height: 100%;
  font-size: 2.5em;
  color: rgb(50, 50, 50);
  background-color: white;
}

.numpad-display {
  font-size: 2em;
  background-color: white;
}

.numpad-button {
  font-weight: bolder;
  font-size: 0.9em;
  color: var(--numPurple75);
  background-color: rgb(200, 200, 200);
}

table {
  width: 100%;
  height: 100%;
  background-color: white;
  border-spacing: 6px;
}

td {
  width: 25%;
  background-color: rgb(230, 230, 230);
}

.mainpage-options {
  font-family: var(--fontRubik);
  background-color: var(--numMainGreen25);
  width: 40%;
  height: 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.mainpage-button > button {
  background-color: rgb(200, 200, 200);
  border-color: var(--numDarkGreen50);
  font-size: 1.5em;
  color: var(--numDarkGreen);
}

.mainpage-button button:hover {
  background-color: var(--numDarkGreen75);
  border-color: var(--numDarkGreen);
  color: white;
}

.submit-section {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.submit-section input {
  width: 50%;
  font-size: 1.75em;
  border: 1px solid var(--numDarkGreen75);
  text-transform: initial;
}

.submit-section input::placeholder {
  text-align: center;
  font-size: 0.75em;
  text-transform: uppercase;
}

.submit-section input,
.mainpage-button button {
  padding: 24px 48px;
}

#setup-btn {
  background-color: rgb(200, 200, 200);
  border-color: var(--numPurple50);
  font-size: 1.5em;
  color: var(--numPurple);
}

#setup-btn:hover {
  background-color: var(--numPurple75);
  border-color: var(--numPurple);
  color: white;
}

#setup-btn:disabled {
  background-color: rgb(240, 240, 240);
  border-color: white;
  cursor: not-allowed;
  color: white;
}

@media (max-width: 1080px) {
  .numpad-outer {
    font-size: 2em;
  }

  .numpad-button {
    font-size: 0.8em;
  }

  .mainpage-button > button {
    font-size: 1.2em;
  }

  .submit-section input {
    width: 50%;
    font-size: 1.2em;
  }

  .submit-section input,
  .mainpage-button button {
    padding: 20px 40px;
  }

  #setup-btn {
    font-size: 1.2em;
  }
}

@media (max-width: 840px) and (min-height: 440px) {
  .mainpage-outer {
    flex-direction: column;
  }

  .numpad-outer {
    width: 100%;
    height: 70%;
  }

  .mainpage-options {
    width: 100%;
    height: 30%;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .submit-section {
    height: 100%;
    width: 30%;
    justify-content: center;
  }

  .submit-section input {
    width: 100%;
  }
}

@media (max-width: 840px) {
  .mainpage-button > button {
    font-size: 1em;
  }

  .submit-section input {
    box-sizing: border-box;
    width: 90%;
    font-size: 1em;
    margin-bottom: 24px;
  }

  .submit-section input,
  .mainpage-button button {
    padding: 12px 24px;
  }

  .submit-section input::placeholder {
    font-size: 0.8em;
  }

  #setup-btn {
    font-size: 1em;
  }
}

@media (max-width: 560px) {
  .mainpage-options {
    padding-bottom: 20px;
  }

  .mainpage-button:first-child {
    width: 30%;
  }

  .mainpage-button > button {
    width: 100%;
    font-size: 0.8em;
  }

  .submit-section {
    width: 50%;
  }

  .submit-section input {
    width: 100%;
    box-sizing: border-box;
    font-size: 0.8em;
    margin-bottom: 16px;
  }

  #setup-btn {
    width: 80%;
    font-size: 0.8em;
  }
}

@media (max-width: 420px) {
  .mainpage-button > button {
    font-size: 0.6em;
    width: initial;
  }

  .numpad-display {
    font-size: 1.5em;
    background-color: white;
  }

  .numpad-outer {
    font-size: 1.5em;
  }

  .numpad-button {
    font-size: 0.7em;
  }

  .submit-section input {
    font-size: 0.6em;
  }

  #setup-btn {
    font-size: 0.6em;
    width: initial;
  }
}

@media (max-height: 420px) {
  .mainpage-button > button {
    font-size: 0.6em;
    width: initial;
  }

  .numpad-display {
    font-size: 1.5em;
    background-color: white;
  }

  .numpad-outer {
    font-size: 1.5em;
  }

  .numpad-button {
    font-size: 0.7em;
  }

  .submit-section input {
    font-size: 0.6em;
  }

  #setup-btn {
    font-size: 0.6em;
    width: initial;
  }
}
