.login-outer {
  background: url("/numifex-media/section2_BG.png");
  height: 100%;
  width: 100%;
  background-position: bottom;
  background-size: 100vw 80vh;
  background-repeat: no-repeat;
  box-sizing: border-box;
  display: flex;
  align-content: center;
}

.login-container {
  height: 80%;
  width: 40%;
  margin: auto;
  display: flex;
  flex-direction: column;
}

.login-container img {
  width: 40%;
  margin: 24px auto;
}

.login-container input {
  width: 75%;
  margin: 20px auto;
  padding: 24px 48px;
  font-size: 1.5em;
}

.login-container button {
  width: 40%;
  margin: 24px auto;
  padding: 20px 40px;
  font-size: 1.5em;
  text-transform: uppercase;
  font-weight: bolder;
}

@media(max-width: 1080px) {
  .login-outer {
    background-size: 100vw 60vh;
  }
  
  .login-container {
    height: 80%;
    width: 40%;
    margin: auto;
    display: flex;
    flex-direction: column;
  }

  .login-container input {
    width: 80%;
  }
  
  .login-container button {
    width: 60%;
  }
}

@media(max-width: 840px) {
  .login-outer {
    background-size: 100vw 50vh;
  }
  
  .login-container {
    width: 80%;
  }
    
  .login-container img {
    width: 120px;
  }
  
  .login-container input {
    width: 75%;
    max-width: 300px;
    margin: 20px auto;
    padding: 16px 32px;
    font-size: 1.2em;
  }
  
  .login-container button {
    width: 40%;
    max-width: 160px;
    padding: 12px 24px;
    font-size: 1.2em;
  }
}

@media(max-width: 600px) {
  .login-outer {
    background-size: 175vw 60vh;
  }
  
  .login-container img {
    width: 80px;
  }
  
  .login-container input {
    width: 75%;
    max-width: 200px;
    margin: 12px auto;
    padding: 12px 24px;
    font-size: .8em;
  }
  
  .login-container button {
    width: 60%;
    max-width: 160px;
    margin: 12px auto;
    padding: 12px 24px;
    font-size: .8em;
  }
}

@media(max-height: 440px) {
  .login-container img {
    margin: 0 auto;
  }
}