<div class="payment-method" data-bind="css: {'_active': (getCode() == isChecked())}">
<div class="payment-method-title field choice">
     <input type="radio"
            name="Ethereum"
            class="radio"
            data-bind="attr: {'id': getCode()}, value: getCode(), checked: isChecked, click: selectPaymentMethod, visible: isRadioButtonVisible()"/>
     <label data-bind="attr: {'for': getCode()}" class="label"><span>Ethereum Payment</span></label>
</div>
<div class="payment-method-content numifex-section">
     <!-- ko foreach: getRegion('messages') -->
     <!-- ko template: getTemplate() --><!-- /ko -->
     <!--/ko-->
     <div>
        <p>Choose this option to pay with Ethereum. The ETH total shown in Order Summary is approximate. 
            Your conversion rate and total due will be locked in and provided
            once you select "Place order" below. You will then be provided with an
            Ethereum account address to send an ETH payment to.
            <div>
                <table>
                    <tr>
                        <td class="mark" scope="row">Ethereum Total
                        </td>
                        <td class="amount"><span class="price" data-bind="text: getEthTotal()"></span>&nbsp;</td>
                    </tr>
                </table>
            </div>
        </p>
         <!-- ko foreach: $parent.getRegion(getBillingAddressFormName()) -->
         <!-- ko template: getTemplate() --><!-- /ko -->
         <!--/ko-->
     </div>
     <div class="checkout-agreements-block">
         <!-- ko foreach: $parent.getRegion('before-place-order') -->
             <!-- ko template: getTemplate() --><!-- /ko -->
         <!--/ko-->
     </div>
     <div class="actions-toolbar">
         <div class="primary">
             <button class="action primary checkout"
                     type="submit"
                     data-bind="
                     click: placeOrder,
                     attr: {title: $t('Place Order')},
                     css: {disabled: !isPlaceOrderActionAllowed()},
                     enable: (getCode() == isChecked())
                     "
                     disabled>
                 <span data-bind="i18n: 'Place Order'"></span>
             </button>
         </div>
     </div>
</div>
</div>

<script>
    ko.applyBindings({
        planets: [
            { name: 'Mercury', capital: null }, 
            { name: 'Earth', capital: { cityName: 'Barnsley' } }        
        ]
    });
</script>