/* #list-outer {
  background-image: url("/numifex-media/background.png");
} */

#list-container {
  padding: 20px;
  background-color: rgba(255, 255, 255, 0.75);
}

#list-container > h1 {
  color: rgb(75, 75, 75);
  margin: 20px 0;
}

.list-section {
  width: 100%;
  overflow-y: scroll;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.list-section::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
  background-color: #f5f5f5;
}

.list-section::-webkit-scrollbar {
  width: 6px;
  background-color: #f5f5f5;
}

.list-section::-webkit-scrollbar-thumb {
  background-color: var(--numPurple);
}

.list-link {
  width: 90%;
  box-sizing: content-box;
  display: flex;
  border: 3px solid var(--numMainGreen);
  background-color: white;
  justify-content: center;
  margin: 8px 0;
  padding: 12px;
  text-decoration: none;
}

.list-link:nth-child(even) {
  border-color: var(--numTeal);
}

.list-tile {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.list-tile h3,
.list-tile h4 {
  color: black;
  margin: 8px 0;
  text-align: left;
  font-size: 1.2em;
}

.list-tile h4 {
  width: 30%;
}

.list-tile .list-price {
  width: 40%;
  display: flex;
  justify-content: left;
}

.list-tile h4,
.list-tile .list-price h3 {
  margin: auto 8px;
}

.list-tile span {
  color: grey;
  font-size: 0.8em;
}

.list-status {
  color: white;
  padding: 8px 16px;
  border-radius: 5px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.list-status h5 {
  font-weight: bold;
  letter-spacing: 1px;
  margin: 0;
}

.smallgrow {
  transition: all 0.1s ease-in-out;
}

.smallgrow:hover {
  transform: scale(1.02);
}

#list-btn {
  border-color: var(--numPurple75);
  background-color: rgb(200, 200, 200);
  color: var(--numPurple);
  padding: 12px 24px;
}

#list-btn:hover {
  border-color: var(--numPurple);
  background-color: var(--numPurple75);
  color: white;
}

.page-selection {
  display: flex;
  flex-direction: column;
  color: grey;
}

.page-selection > h2 {
  margin: 8px 0;
}

.page-actions {
  margin: 8px 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page-actions > div,
.page-actions > h2 {
  width: 10%;
  margin: 0;
}

.page-actions > div > button {
  padding: 4px 8px;
}

.page-actions > h2 {
  color: var(--numPurple);
}

@media (max-width: 1080px) {

  .list-tile h3,
  .list-tile h4 {
    font-size: 1em;
  }
  
  .list-status h5 {
    font-size: .9em;
  }
}

@media (max-width: 840px) {

}

@media (max-width: 580px) {

}

@media (max-width: 420px) {

}