<?php 
$order = $block->getOrder();
$payment = $order->getPayment(); 
$keys = array_keys((array)$order);
?>
<div class="checkout-success">
    <?php if ($payment->getMethod() == 'numifex') : ?>
        <?php if($order->getIncrementId()):?>
            <?php if ($block->getCustomerId()) :?>
                <p>
                <?php echo __('Your order # is: <span>%1</span>.',$order->getIncrementId()) ?>
                </p>
                <?php  else :?>
                    <section id="numifex">
                        <div>You have chosen to pay with Ethereum. 
                            Please see the instructions below for sending your ETH payment.</div>
                        <div id="instructions">
                            <h3>Ethereum Payment Instructions</h3>
                            <table>
                                <tr>
                                    <th>Order #</th>
                                    <th>Conversion Rate</th>
                                    <th>USD Total</th>
                                    <th>ETH Total</th>
                                </tr>
                                <tr>
                                    <td><?php echo $order->getIncrementId();  ?></td>
                                    <td>1 ETH = <?php echo $order->getCryptoRate();  ?></td>
                                    <td><?php echo number_format((float)$order->getGrandTotal(), 2, '.', '');  ?>
                                </td>
                                    <td><?php echo $order->getTotalFormatted();  ?></td>
                                </tr>
                                <tr>
                                    <td>Total Due</td>
                                    <td></td>
                                    <td></td>
                                    <td><?php echo $order->getTotalFormatted();  ?> ETH</td>
                                </tr>
                            </table>
                            <div>
                                <p>Please send your ETH payment of 
                                    <span><?php echo $order->getTotalFormatted(); ?></span> 
                                    to the following address: <span>
                                    <?php echo $order->getCryptoAddress(); ?></span>
                                </p>
                                <p>Once full payment is received we'll process your order.</p>
                            </div>
                        </div>
                    </section>
                <?php endif;?>
        <?php endif;?>
    <?php endif;?>
</div>