<?php 
$_order = $block->getOrder();
$payment = $_order->getPayment(); 
?>
<?php if ($_order): ?>
    <?php $_items = $_order->getAllItems(); ?>
    <?php if ($payment->getMethod() == 'numifex') : ?>
          <section id="numifex" style="background-color:#f8f8f8; padding:15px;">
                <div style="color:red; font-size:16px; font-weight:600">
                    You have chosen to pay with Ethereum. 
                    Please see the instructions below for sending your ETH payment.</div>
                <div id="instructions">
                    <h3 style="color:green; font-size:26px; text-decoration:underline;">
                        Ethereum Payment Instructions</h3>
                    <table style="margin-bottom:.7rem; width:80%;">
                        <tr>
                            <th style="border-bottom:1px solid black !important;
                                color:#666;font-size: 14px;padding:5px;font-weight:600">Order #</th>
                            <th style="border-bottom:1px solid black !important;color:#666;
                                font-size: 14px;padding:5px;width:180px;font-weight:600">Conversion Rate</th>
                            <th style="border-bottom:1px solid black !important;color:#666;
                                font-size: 14px;padding:5px;width:160px;font-weight:600">USD Total</th>
                            <th style="border-bottom:1px solid black !important;color:#666;
                                font-size: 14px;padding:5px;width:160px;font-weight:600">ETH Total</th>
                        </tr>
                        <tr>
                            <td style="border-bottom: 2px solid black !important;color: #666;
                                font-size: 13px;font-weight: 700;padding: 5px;">
                                <?php echo $_order->getIncrementId();  ?></td>
                            <td style="border-bottom: 2px solid black !important;color: #666;
                                font-size: 13px;font-weight: 700;padding: 5px;">
                                1 ETH = <?php echo $_order->getCryptoRate();  ?></td>
                            <td style="border-bottom: 2px solid black !important;color: #666;
                                font-size: 13px;font-weight: 700;padding: 5px;">
                                <?php echo number_format((float)$_order->getGrandTotal(), 2, '.', '');  ?>
                           </td>
                            <td style="border-bottom: 2px solid black !important;color: #666;
                                font-size: 13px;font-weight: 700;padding: 5px;">
                                <?php echo $_order->getTotalFormatted();  ?></td>
                        </tr>
                        <tr>
                            <td style="color: #666;font-size: 16px;font-weight: 600;margin: 0;">
                                Total Due</td>
                            <td style="color: #666;font-size: 16px;font-weight: 600;margin: 0;"></td>
                            <td style="color: #666;font-size: 16px;font-weight: 600;margin: 0;"></td>
                            <td style="color: #666;font-size: 16px;font-weight: 600;margin: 0;">
                                <?php echo $_order->getTotalFormatted();  ?> ETH</td>
                        </tr>
                    </table>
                    <div>
                        <p style="margin-bottom: 0;">Please send your ETH payment of 
                            <span style="color: green;font-size: 20px;">
                                <?php echo $_order->getTotalFormatted(); ?></span> 
                                to the following address: <span style="color: green;font-size: 20px;">
                            <?php echo $_order->getCryptoAddress(); ?></span>
                        </p>
                        <p style="margin-bottom: 0;">
                            Once full payment is received we'll process your order.</p>
                    </div>
                </div>
            </section>
    <?php endif; ?>
    
    <table class="email-items">
        <thead>
            <tr>
                <th class="item-info">
                    <?= /* @escapeNotVerified */  __('Items') ?>
                </th>
                <th class="item-qty">
                    <?= /* @escapeNotVerified */  __('Qty') ?>
                </th>
                <th class="item-price">
                    <?= /* @escapeNotVerified */  __('Price') ?>
                </th>
            </tr>
        </thead>
        <?php foreach ($_items as $_item): ?>
            <?php if (!$_item->getParentItem()) : ?>
                <tbody>
                    <?= $block->getItemHtml($_item) ?>
                </tbody>
            <?php endif; ?>
        <?php endforeach; ?>
        <tfoot class="order-totals">
            <?= $block->getChildHtml('order_totals') ?>
        </tfoot>
    </table>
    <?php if ($this->helper('Magento\GiftMessage\Helper\Message')->isMessagesAllowed(
        'order', $_order, $_order->getStore()) && $_order->getGiftMessageId()): ?>
        <?php $_giftMessage = $this->helper(
            'Magento\GiftMessage\Helper\Message')->getGiftMessage(
                $_order->getGiftMessageId()); ?>
        <?php if ($_giftMessage): ?>
            <br />
            <table class="message-gift">
                <tr>
                    <td>
                        <h3><?= /* @escapeNotVerified */  __('Gift Message for this Order') ?></h3>
                        <strong><?= /* @escapeNotVerified */  __('From:') ?></strong> 
                            <?= $block->escapeHtml($_giftMessage->getSender()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('To:') ?></strong> 
                            <?= $block->escapeHtml($_giftMessage->getRecipient()) ?>
                        <br /><strong><?= /* @escapeNotVerified */  __('Message:') ?></strong>
                        <br /><?= $block->escapeHtml($_giftMessage->getMessage()) ?>
                    </td>
                </tr>
            </table>
        <?php endif; ?>
    <?php endif; ?>
<?php endif; ?>
